@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'base';
@import 'button';
@import 'card';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  display: flex;
  flex-flow: column wrap;
  background-image: url('../images/bg-top.svg');
  background-size: 100px 200px;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  background-color: hsl(240, 78%, 98%);
}

.container {
  padding: 3rem 1rem;
}
